[flake8]
max-line-length = 150
exclude =
    ./.git,
    ./build_test_custom_build,
    ./build,
    ./caffe2,
    ./docs/caffe2,
    ./docs/cpp/src,
    ./docs/src,
    ./functorch/docs,
    ./functorch/examples,
    ./functorch/notebooks,
    ./scripts,
    ./test/generated_type_hints_smoketest.py,
    ./third_party,
    ./torch/include,
    ./torch/lib,
    ./venv,
    *.pyi
optional-ascii-coding = True
ignore = E203, E305, E402, E501, E721, E741, F405, F841, F999, W503, W504, C408, E302, W291, E303
