__pycache__/
*.py[cod]
*.class
*.jar

*.egg
build/
dist/
ratchada_utils.egg-info
ratchada-utils.egg-info

# spell-check backups
*.bak

*.egg
build/
dist/
nltk.egg-info/
web/_build

# ENV
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

ratchada_utils/VERSION

# VScode
.vscode/

# Direnv
.envrc

# Mypy
.mypy_cache

# macOS
.DS_Store
